{{define "widgets"}}
    {{range .Widgets}}
        {{$.Currency}} {{.Price}} - {{.Name}}
    {{end}}
{{end}}

{{define "socials"}}
    {{range $link := .Socials}}
        {{$link.Name}} {{$link.Href}}
    {{end}}
{{end}}

{{define "rangeMap"}}
    {{range $key, $value := .Data}}
        <span>{{$key}}: {{$value}}</span>
    {{end}}
{{end}}