<h1>{{.Organisation.Name}}</h1>
<p>{{.Organisation.Founded}}</p>
<div>
    <p>{{.Employee.Personal.Address.Street}}</p>
    <p>{{.Employee.Personal.Address.City}}</p>
    <p>{{.Employee.Personal.Address.Country}}</p>
</div>
