{{define "BaseLayout"}}
    <html lang="en">
    <head>
        <title>{{.Title}}</title>
        {{template "Meta"}}
        {{template "Imports" .Imports}}
    </head>
    <body>
    {{.BodyScript}}
    {{template "Navbar" .Nav}}
    {{.Content}}
    </body>
    </html>
{{end}}

{{define "Meta"}}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
{{end}}

{{define "Imports"}}
    {{range .Imports}}
        <script src="{{.Src}}" {{if .Defer}}defer{{end}}></script>
    {{end}}
{{end}}

{{define "Navbar"}}
    <nav>
        <p>{{ .Title}}</p>
        {{range .Links}}
            <a>{{.Name}}</a>
            {{template "NavLink" .Link}}
        {{end}}
    </nav>
{{end}}

{{define "NavLink"}}
    <a href="{{.Href}}">{{.Text}}</a>
{{end}}