<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <meta name="description" content="{{.Description}}">
</head>
<body>
{{if .Nav}}
    {{template "Nav" .Nav}}
{{end}}
<div>
    {{ if .SignedIn }}<p>Hello {{.Username}}</p>{{ end }}
</div>
{{.Body}}
</body>
</html>

{{define "Nav"}}
    <nav>
        {{range .Links}}
            <a href="{{.}}">{{.}}</a>
        {{end}}
    </nav>
{{end}}